@model Aluno
<form asp-controller="Aluno" asp-action="ApagarAluno" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3 col-md-5">
        <h1 class="form-label">Tem certeza?</h1>
     
    <div class="text-left">
        <button type="submit" class="btn btn-danger">Sim</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Aluno'">Não</button>
    </div>
</form>